.wrapper
  .project__info
    .project__info__title
      =@project.title
    .project__info__creaters
      Manager
      -if @manage_user
        =@manage_user.name
      Track:
      -if @track_user
        =link_to user_path(@track_user.id) do
          =@track_user.name
      -else
        募集中
      Lyric:
      -if @lyric_user
        =link_to user_path(@lyric_user.id) do
          =@lyric_user.name
      -else
        募集中
      Sing:
      -if @singer_user
        =link_to user_path(@singer_user.id) do
          =@singer_user.name
      -else
        募集中
      Video:
      -if @video_user
        =link_to user_path(@video_user.id) do
          =@video_user.name
      -else
        募集中
    .project__info__date
      =@project.created_at
    %pre.project__statement
      =@project.statement

  .message-view
    -@messages.each do |message|
      .a-message
        .a-message__user-name
          =User.find(message.user_id).name
        .a-message__sended-date
          =message.created_at
        .a-message__message-content
          =message.content
  .message-form
    =form_for [@project, @message]  do |form|
      =form.text_field :content
      =form.submit '送信'

  =link_to project_parts_path(@project.id) do
    ファイル
