.wrapper
  .project__info
    .project__info__title
      =@project.title
    .project__info__creaters
      =@track_user.name
      =@lyric_user.name
      =@singer_user.name
      =@video_user.name
    .project__info__date
      =@project.upload_at
  .project__thumbnail
    %center
      %iframe#player{frameborder: "0", height:"558", src: -@project.url, type: "text/html", width: "992"}
  %pre.project__overview
    =@project.overview

    .project__info__tags
      hoge
