.wrapper
  .project__info
    .project__info__title
      =@project.title
    .project__info__creaters
      Track:
      =link_to user_path(@track_user.id) do
        =@track_user.name
      Lyric:
      =link_to user_path(@lyric_user.id) do
        =@lyric_user.name
      Sing:
      =link_to user_path(@singer_user.id) do
        =@singer_user.name
      Video:
      =link_to user_path(@video_user.id) do
        =@video_user.name
    .project__info__date
      =@project.upload_at
  .project__thumbnail
    %center
      %iframe#player{frameborder: "0", height:"558", src: -@project.link, type: "text/html", width: "992"}
  %pre.project__overview
    =@project.overview

    .project__info__tags
      hoge
